.raleway {
    font-family: "Raleway", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}
.seat-class{
    background: #F7F8F8;
    color: #03071280;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

  